#PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASS=5286
POSTGRES_HOST=localhost
POSTGRES_DB=subsdb

DB_USER=postgres
DB_PASSWORD=5286
DB_HOST=localhost
DB_PORT=5432
DB_NAME=subsdb

#DEBUG (Dev/Prod)
DEBUG_LEVEL=Dev