#PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=5286
POSTGRES_DB=subsdb

DB_USER=postgres
DB_PASSWORD=5286
DB_HOST=postgres
DB_PORT=5432
DB_NAME=subsdb

#App
PORT=8080

#DEBUG (Dev/Prod)
DEBUG_LEVEL=Dev