#PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=5286
POSTGRES_DB=subsdb

DB_USER=postgres
DB_PASSWORD=5286
DB_HOST=postgres-auth
DB_PORT=5432
DB_NAME=subsdb

#Redis
SESSION_RDB_ADDR=redis-auth
SESSION_RDB_PORT=6379
SESSION_RDB_DB=0

RATE_RDB_ADDR=redis-auth
RATE_RDB_PORT=6379
RATE_RDB_DB=1

RDB_PASS=""
#App
PORT=8080

#DEBUG (Dev/Prod)
DEBUG_LEVEL=Dev

#JWT SECRET KEY
JWT_KEY=+m7l8q9VhOh1TPOmEnalfOrDSGIoIhfWxXGRJ497KGs=